.listSells{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.listSells > h1{
    font-size: 26px;
    margin-bottom: 5%;
}

.listSellsGroup{
    margin: 0 auto;
    width: 90%;
}

.listSellsGroup th{
    font-size: 22px;
}

.listSellsGroup > tr:first{
    padding: 10px;
}

.filter{
    display: flex;
    margin: 15px auto;
    align-items: center;
}

.filter > .select{
    margin: 0 10px;   
    padding: 10px 50px;
}

.font {
    font-size: 16px;
}

.button-refresh {
    margin-bottom: 20px;
    background-color: #001529;
    color: white;
}

.filter-group{
    display: flex;
    flex-direction: column;
    margin: 1vh 2vh;
}