.charts{
    display: flex;
    flex-direction: column;
    margin: 0%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:0%;
}
.titleChart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleChart > *:last-child{
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .titleChart > *:last-child{
        margin-left: 0%;
        }
}
