.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
  font-size: 24px;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  width: 100%; /* Adicionado para fazer o grid ocupar a largura total */
  max-width: 1200px; /* Adicionado para limitar a largura máxima */
}

.chart-box {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 300px; /* Define uma altura mínima para os gráficos */
}

.ranking-sellers {
  margin-top: 20px;
  width: 100%; /* Adicionado para fazer o ranking ocupar a largura total */
  max-width: 1200px; /* Adicionado para limitar a largura máxima */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
