.containerGlobal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.containerVendedor {
  width: 100%;
}

.formContainer {
  display: flex;
  justify-content: space-between;
}

.caixaVendedor {
  width: 45%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.caixaAdmin {
  width: 45%;
  height: 50%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.titulo {
  margin-bottom: 20px;
}

.insertText,
.inputSenha {
  margin-bottom: 15px;
}

.erro {
  color: red;
  font-size: 12px;
}

.funciona {
  color: green;
  font-size: 14px;
}

.botaoCadastrar {
  padding: 10px 20px;
  background-color: #001529;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botaoCadastrar:hover {
  background-color: #001529;
}