

.commissionList > .commissions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.commissions > div{
    margin-bottom: 5%;
    padding: 10px;
    outline: 1px solid black;
    min-width: 300px;
    margin-left: 2%;
    align-items: center;
}