.containerStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.2vh;
}

.boxStats {
    margin: 0vh 2vh;
    padding: 1vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxStats .ant-statistic-title {
    color: black; 
}

.charts-gridd {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    width: 100%; /* Adicionado para fazer o grid ocupar a largura total */
    max-width: 1200px; /* Adicionado para limitar a largura máxima */
  }