.containerStats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.boxStats{
    margin: 3vh 2vh;
    background-color: gainsboro;
    padding: 3vh;
    border-radius: 2vh;
}