
.erro{
    color: red;
}
.funciona{
    color: green;
}
.containerVenda{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.containerVenda label, .containerVenda h1, .containerVenda h4, .containerVenda ol, .containerVenda select, .containerVenda input{
    color: white;
}
body{
    margin: 0px;
    font-size: 2.5vh;
}

.containerVenda option, .containerVenda select, .containerVenda input, .containerVenda button{
    font-size: 2.5vh;
}

.containerVenda input, .containerVenda select{
    height: 5vh;
    border-radius: 1vh;
}

#tituloRequisito{
    margin: 2%;
}

.caixaVenda{
    box-shadow: black;
    background-color:#1c1c1c;
    margin: 2%;
    height: auto;
    width: 80vh;
    padding: 0.5%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formularioVenda{
    height: auto;
    width: 90%;
    padding: 0.5%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insertTextVenda{
    height: auto;
    width: 75%;
    padding-top: 0.5%;
    text-align:start;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 0%;
}

.containerVenda button{
    margin: 2%;
    border-radius: 1vh;
    border: none;
    height: 5vh;
    width: max-content;
}

.containerVenda h4{
    height: min-content;
    margin: 1%;
}
