
.erro{
    color: red;
}
.funciona{
    color: green;
}
.containerGlobal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerRegisterSell{
    margin-top: 7vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.containerRegisterSell span, .containerRegisterSell label, .containerRegisterSell h1, .containerRegisterSell h4, .containerRegisterSell ol, .containerRegisterSell p{
    color: rgb(255, 255, 255);
}

.containerRegisterSell select{
    color: rgb(216, 4, 4);
}

.containerRegisterSell input{
    color: black;
    font-size: 1.5vh;
}

body{
    margin: 0px;
    font-size: 2.5vh;
}

.containerRegisterSell option, .containerRegisterSell select, .containerRegisterSell input, .containerRegisterSell button{
    font-size: 2.5vh;
}

.containerRegisterSell input, .containerRegisterSell select{
    height: 5vh;
    border-radius: 1vh;
    background-color: white;
    border-color: black;
}

#tituloRequisito{
    margin: 2%;
}

.caixaVenda{
    background-color: #1c1c1c;
    margin: 2%;
    height: auto;
    width: 80vh;
    padding: 0.5%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formularioVenda{
    height: auto;
    width: 90%;
    padding: 0.5%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insertTextVenda{
    height: auto;
    width: 75%;
    padding-top: 0.5%;
    text-align:start;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 0%;
}

.containerRegisterSell button{
    margin: 2%;
    border-radius: 1vh;
    border: none;
    height: 5vh;
    width: max-content;
    font-size: 1.5vh;
}

.containerRegisterSell h4{
    height: min-content;
    margin: 1%;
}

.inputValor{
    background-color: white;
    border-radius: 0.5vh;
}